body {
    font-family: 'Open Sans', sans-serif;
}

main {
    min-height: calc(100vh - 144px);
}

a {
    color: #6cb7e2;
}

a:hover {
    text-decoration: none;
    color: #6cb7e2;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position:absolute;
    right:0;
    left:auto;
}

.homeBanner {
    height: 400px;
    overflow:hidden;
    background: black;
    
}

.homeBanner h1 {
    z-index: 30;
    font-size:48px;
}
.homeBanner a {
    z-index: 3;
}

.homeBanner video {
    position: absolute;
    top:0;
    left:0;
    z-index:0;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
}

.homeSection {
    padding: 80px 15px;
}

.homeSection img {
    max-height: 200px;
}

.manageSection {
    background-image: url('/images/event-manage-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.manageSection .container {
    z-index: 10;
}

.homeBannerWrapperBlack {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width:100%;
    top:0;
    left:0;
    height:100%;
    z-index:1;
}

.registerWrapper {
    min-height: calc(100vh - 70px);
    background: url('/images/register_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    position:relative;
    color:white;
}

.bgWrapperBlack {
    position: absolute;
    background: rgba(0,0,0,0.4);
    width:100%;
    top:0;
    left:0;
    height:100%;
}

.centerForm {
    max-width:550px;
}

.registerWrapper h2{
    text-align:center;
    margin-bottom: 30px;
    font-weight: 300;    
    color: #f18516;
}

.centerForm > form {
    padding: 0 20px;
}

.centerForm label {
    margin-bottom: 0;
    font-size: .85rem;
}

.centerForm input, .centerForm input:focus {
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    box-shadow: none;
}

.text-orange {
    color: #f18516;
}

.text-blue {
    color: #2878a7;
}

.btn-blue,.btn-blue:hover {
    background-color: #2878a7;
    border-color: #1b6692;
    color:white;
}

.btn-black {
    background-color: #111111;
    border-color: #000000;
    color:white;
}

.container {
    max-width: 1200px;
}
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
.event-menu {
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 20px;
}

.event-menu a {
    color: #ffffff;
}

.event-menu ul {
    padding:0;
}

.event-banner {
    width: 100%;
    background-image: url('/images/event-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    color:white;
}

.event-head {
    position: relative;
    color: white;
    z-index:5;
    text-align:center;
}

.event-banner > * {
    padding-bottom: 20px;
}

.event-banner h2 {
    margin: 30px 0;
    position:relative;
    font-size: 1.5rem;
    padding: 40px 10px 0;
}

.event-banner > .event-menu .active {
    background: #c76b0b;
    border-radius: 50%;
}

.navbar {
    background: #000000;
}

.navbar a {
    font-size: 0.8rem;
    padding-top:3px;
    padding-bottom: 3px;
}

.navbar h2 {
    margin-bottom:0;
}

.navbar i {
    padding: 7px;
    border: 2px solid;
    border-radius: 50%;
}

.footer {
    background: #000000;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

.side-nav {
    padding: 1rem 0;
    border-radius: 5px;
    overflow: hidden;
}

.side-nav .nav-link {
    color: white;
    padding: 1rem 1.75rem;
}

.side-nav .nav-link.active {
    background: #c76b0b;
    border: 1px solid #c76b0b;
    border-top: 0px;
}

.side-nav > li {
    background: #333333;
    overflow:hidden;
    border-bottom: 1px solid #222222;
    font-size: 0.85rem;
}

.side-nav > li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.side-nav > li:last-child {
    border-bottom:0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.breadcrumb {
    background: #999999;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    margin: 15px 0;
}

.breadcrumb a {
    color: #eeeeee;
}

.breadcrumb-item.active {
    color: #ffffff;
    
}

.card {
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.8);
    border:0;
}

#admin-component {
    font-size: 0.85rem;
    border: 1px solid #dddddd;
    background: #eeeeee;
    padding: 15px;
    margin-bottom: 15px;
}

#admin-component h3, h6{
    color:#c76b0b;
    font-weight: 400;
}


main i {
    font-size: .8rem;
}

.form-control {
    font-size: 0.85rem;
}

.event-banner .content {
    padding-bottom:0;
}

.event-banner .content input {
    padding: 20px;
}

.event-banner .content .close-search {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    cursor: pointer; 
}

.browseForm {
    position: relative;
    margin-top: 80px;
    max-width: 700px;
    width:90%;
    margin: 70px auto;
    position: relative;
}

.event-banner .content .search-button {
    font-size: 37px;
    color: #f18516;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNi45NiAyNy4wNyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiM0NWEzZGI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjJweDt9LmNscy0ye2ZpbGw6IzQ1YTNkYjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnNlYXJjaDwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTguNDMsNS4xOUE5LjQsOS40LDAsMCwxLDUuMTYsMTguNTEsOS40LDkuNCwwLDAsMSwxOC40Myw1LjE5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEuNDEgLTEuNDMpIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjcsMjUuMjJBMS4yOCwxLjI4LDAsMCwxLDI3LDI3bC0wLjA5LjA5YTEuMjgsMS4yOCwwLDAsMS0xLjgxLDBsLTcuNjMtNy42NiwxLjg5LTEuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjQxIC0xLjQzKSIvPjxyZWN0IGNsYXNzPSJjbHMtMiIgeD0iMjAuODEiIHk9IjE2LjE4IiB3aWR0aD0iMy4wNiIgaGVpZ2h0PSIxMS45OSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwLjU1IDIwLjg2KSByb3RhdGUoLTQ1KSIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-color: white;
    border-style: none;
    outline: none;
}

.content input {
    border: 1px solid #f18516;
    letter-spacing: 1px;
    font-size: 11px;
    width: 100%;
    text-transform: uppercase;
}

.button-fixed {
    position: fixed;
    bottom: 10px;
    right: 0px;
    margin-right: 20px;
    margin-bottom: 30px;
    z-index: 9999;
}

.card-img-top {
    max-width: 100%;
    max-height: 200px;
    align-self: center;
    width:auto;
}

.sidenav-toggler {
    background: none;
    border: 1px solid #999999;
}

.feedbackPopUp {
    display:none;
    background: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
}

.feedbackPopUp > div {
    background:white; 
    border-radius: 5px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-100px;
    margin-top:-100px;
}

.feedbackPopUp .closeBtn:hover {
    cursor:pointer;
}

.feedbackPopUp .closeBtn i {
    font-size:22px;
    margin-top:10px;
}

.feedbackPopUp input[type="radio"]{
    margin: 0 5px;
  }
@media screen and (min-width: 767px) {
    .event-banner h2 {
        font-size: 1.75rem;
        padding-top: 80px;
    }
    
    .sidenav-toggler {
        display: none;
    }

    #adminNavbar.collapse:not(.show) {
        display: block;
    }
}

@media screen and (min-width: 991px) {
    .event-banner h2 {
        font-size: 2rem;
        padding-top: 120px;
    }
}

