
.field-required {
    border-right: 5px solid #e85e50;
}




h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #3fa3da;
}

h1, .h1 {
    font-size: 36px;
}



.k-multiselect-wrap .k-input {
    background-color: transparent;
    height: 1.31em;
    /* line-height: 1.31em; */
    padding: .18em 0;
    text-indent: .8em;
    border: 0;
    margin: 1px 0 0;
    float: left;
}

.k-block, .k-widget {
    line-height: normal;
    outline: 0;
}
.k-widget, .k-block, .k-inline-block, .k-draghandle {
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
}


.k-button {
    display: inline-block;
    margin: 0;
    padding: 10px 14px;
    font-family: inherit;
    eight: 1.72em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.k-upload-button {
    position: relative;
    min-width: 7.167em;
    overflow: hidden;
    direction: ltr;
}

.k-upload .k-filename {
    max-width: 70%;
}


.k-filename {
    position: relative;
    display: inline-block;
    min-width: 10em;
    max-width: 16.667em;
    vertical-align: middle;
    margin-left: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


input[type="radio"]{
    margin: 0 10px 0 20px;
  }