body {
    font-family: 'Open Sans',sans-serif;
}

a {
    color: #6cb7e2;
}

a:hover {
    text-decoration: none;
    color: #6cb7e2;
}

.registerWrapper {
    min-height: calc(100vh - 70px);
    background: url('/images/register_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    position:relative;
    color:white;
}

.bgWrapperBlack {
    position: absolute;
    background: rgba(0,0,0,0.5);
    width:100%;
    top:0;
    left:0;
    height:100%;
}

.centerForm {
    max-width:550px;
}

.registerWrapper h2{
    text-align:center;
    margin-bottom: 30px;
    font-weight: 300;    
    color: #f18516;
}

.centerForm > form {
    padding: 0 20px;
}

.centerForm label {
    margin-bottom: 0;
    font-size: .85rem;
}

.centerForm input, .centerForm input:focus {
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    box-shadow: none;
}

.text-orange {
    color: #f18516;
}

.btn-blue {
    background-color: #2878a7;
    border-color: #1b6692;
    color:white;
}

.content-page>.content {
    padding: 20px;
    position: relative;
}

.btn-success {
    background-color: #6fce91;
    border-color: #6fce91;
    color: #fff;
}

.btn {
    border-radius: 2px;
}

h1 {
    line-height: 43px;
    margin: 10px 0;
    font-size: 36px;
}

.widget {
    position: relative;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
}

.widget-header {
    height: 43px;
    display: block;
}

.widget-header, .widget-content {
    display: block;
    width: 100%;
    clear: both;
}

.widget .widget-header {
    height: 43px;
    display: block;
}

.table-responsive {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 500px;
}

.content-page {
    margin-left: 240px;
    overflow: hidden;
    position: relative;
}

.content-page {
    margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #3fa3da;
}

h1, .h1 {
    font-size: 36px;
}

.field-required {
    border-right: 5px solid #e85e50;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.conference-logo {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    margin: 15px 0;
}

.conference-logo .img-size {
    width:100%;
}

.conf-card {
    margin-top: 50px;
}

.w3-card-12 {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
}

.w3-container {
    padding: 0.01em 16px;
}

.w3-center {
    text-align: center!important;
}

.cardFlow {
    color: #0085c8;
    font-size: 22px;
    height: 75px;
    text-overflow: ellipsis;
    margin-top: 0;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}