<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="resources/main.css" rel="stylesheet">
    <link href="resources/ kendo.common-nova.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

</head>

<body>



    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                <h1>Add Event</h1>
            </div>
            <div class="widget-content">
                <div class="table-responsive">
                    <form name="addConferenceForm" novalidate="" ng-submit="save()" class="ng-pristine ng-pending">
                        <div confirm-on-exit="" form-name="addConferenceForm" class="ng-isolate-scope"></div>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <h4>
                                        Name
                                        <a data-toggle="tooltip"  title="'Create your event name.  This is how the event will be listed in the EventsXD Mobile app.'"
                                            class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                
                                    </h4>
                                    <input type="text" name="name" class="form-control field-required ng-pristine ng-isolate-scope ng-pending ng-touched" ng-model="conference.name"
                                        validator="required" required-error-message="Event Name is required" validation-method="submit-only"
                                        style="">
                                    <span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <h4>Address</h4>
                                    <div>
                                        <input type="text" name="address" class="form-control field-required ng-pristine ng-isolate-scope ng-pending ng-touched"
                                            ng-model="conference.address" validator="required" required-error-message="Address is required"
                                            validation-method="submit-only" style="">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h4>City</h4>
                                    <div>
                                        <input type="text" name="city" class="form-control field-required ng-pristine ng-untouched ng-isolate-scope ng-pending" ng-model="conference.city"
                                            validator="required" required-error-message="City is required" validation-method="submit-only">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h4>State</h4>
                                    <div>
                                        <input type="text" name="state" class="form-control field-required ng-pristine ng-untouched ng-isolate-scope ng-pending"
                                            ng-model="conference.state" validator="required" required-error-message="State is required"
                                            validation-method="submit-only">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h4>Country</h4>
                                    <div>
                                        <input type="text" name="country" class="form-control field-required ng-pristine ng-untouched ng-isolate-scope ng-pending"
                                            ng-model="conference.country" validator="required" required-error-message="Country is required"
                                            validation-method="submit-only">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <h4>Start Date</h4>
                                    <div>
                                        
                                            <span class="k-picker-wrap k-state-default">
                                                <input type="date" kendo-date-picker="" name="startDate" class="form-control field-required ng-pristine ng-untouched ng-isolate-scope ng-pending k-input"
                                                    ng-model="startDate" k-ng-model="startDate" k-min="minDate" validator="required"
                                                    required-error-message="Start Date is required" validation-method="submit-only"
                                                    message-id="startDateRequiredMessage" data-role="datepicker" role="combobox"
                                                    aria-expanded="false" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                                                <span unselectable="on" class="k-select" role="button">
                                                  
                                                </span>
                                          
                                        </span>
                                        <span id="startDateRequiredMessage"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h4>End Date</h4>
                                    <div>
                                        
                                            <span class="k-picker-wrap k-state-default">
                                                <input type="date"  name="endDate" class="form-control field-required ng-pristine ng-untouched ng-isolate-scope ng-pending k-input"
                                                     validator="required"
                                                    required-error-message="End Date is required" validation-method="submit-only"
                                                    message-id="endDateRequiredMessage" data-role="datepicker" role="combobox"
                                                    aria-expanded="false" aria-disabled="false" aria-readonly="false" style="width: 100%;">
                                                
                                            </span>
                        
                                        <span id="endDateRequiredMessage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <h4>
                                        Description
                                        <a data-toggle="tooltip"  tooltip-class="0" title="'Provide an event description for your attendees to view in the About Event link in the app.'"
                                            class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <textarea name="description" rows="5" cols="30" class="form-control field-required ng-pristine ng-isolate-scope ng-pending ng-touched"
                                        ng-model="conference.description" validator="required" required-error-message="Description is required"
                                        validation-method="submit-only" style=""></textarea>
                                    <span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <h4>
                                        Web Site URL
                                        <a tooltip-placement="right" data-toggle="tooltip" title="Feature your event or organization website on the event homepage."
                                            class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <input type="text" name="webSiteURL" class="form-control ng-pristine ng-isolate-scope ng-pending ng-touched" ng-model="conference.webSiteURL"
                                        validator="url" url-error-message="Invalid. Please ensure the provided url is a valid website (include http:// or https://)."
                                        style="">
                                    <span></span>
                                </div>
                                <div class="col-md-4 form-group">
                                    <h4>
                                        Twitter Handle
                                        <a tooltip-placement="right" data-toggle="tooltip"  title="Provide a Twitter handle to populate the Pulse Twitter feed in the app." tooltip-class="0"
                                            data-eb-help="" 
                                            class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <input type="text" name="twitterScreenName" class="form-control ng-pristine ng-valid ng-touched" ng-model="conference.twitterScreenName"
                                        style="">
                                </div>
                                <div class="col-md-4 form-group">
                                    <h4>
                                        Hash Tag List
                                        <a tooltip-placement="right" data-toggle="tooltip" title="Provide all the Twitter hash tags you would like to include in the Pulse Twitter feed."
                                            tooltip-class="0" data-eb-help=""       class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <input type="text" name="hashTagList" class="form-control ng-pristine ng-valid ng-touched" ng-model="conference.hashTagList"
                                        style="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <h4>
                                        Facebook URL
                                        <a tooltip-placement="right"  data-toggle="tooltip"  title="Provide your event Facebook page for your attendees to view." tooltip-class="0"
                                            data-eb-help=""     class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <input type="text" name="facebookURL" class="form-control ng-pristine ng-isolate-scope ng-pending ng-touched" ng-model="conference.facebookURL"
                                        validator="url" url-error-message="Invalid. Please ensure the provided url is a valid website (include http:// or https://)."
                                        style="">
                                    <span></span>
                                </div>
                                <div class="col-md-4 form-group">
                                    <h4>
                                        RSS URL
                                        <a tooltip-placement="right" data-toggle="tooltip"  title="If you have a blog or website, you can link your RSS feed here and it will feed into the Pulse section of the app."
                                            tooltip-class="0" class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <input type="text" name="rssurl" class="form-control ng-pristine ng-isolate-scope ng-pending ng-touched" ng-model="conference.rssurl"
                                        validator="url" url-error-message="Invalid. Please ensure the provided url is a valid website (include http:// or https://)."
                                        style="">
                                    <span></span>
                                </div>
                                <div class="col-md-4 form-group">
                                    <h4>
                                        LinkedIn URL
                                        <a tooltip-placement="right" data-toggle="tooltip"  title="Provide your event LinkedIn page for your attendees to view." tooltip-class="0"
                                           
                                            class="ng-isolate-scope">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </h4>
                                    <input type="text" name="linkedInURL" class="form-control ng-pristine ng-isolate-scope ng-pending ng-touched" ng-model="conference.linkedInURL"
                                        validator="url" url-error-message="Invalid. Please ensure the provided url is a valid website (include http:// or https://)."
                                        style="">
                                    <span></span>
                                </div>
                            </div>
                            <div class="row conference-action-row">
                                <button type="submit" class="btn btn-success ng-binding ladda-button" ladda="dataSaving" validation-submit="addConferenceForm"
                                    ng-click="save()" data-style="expand-left">
                                    <span class="ladda-label">
                                        <i class="fa fa-check"></i> Add
                                    </span>
                                    <span class="ladda-spinner"></span>
                                </button>
                                <a id="cancel-button" class="btn" ng-href="/" href="/">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>




</body>

</html>