
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="resources/main.css" rel="stylesheet">
   
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

</head>

<body>


<div class="row">
            <div class="col-md-12">
                <div class="widget ng-isolate-scope" require-feature="timeslots">
                    <div class="widget-header">
                        <h1 class="ng-binding">Add Session Time</h1>
                    </div>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <div>
                                <div class="loader ng-isolate-scope ng-hide" ng-show="busy" data-eb-loader="" busy="isBusy"></div>
                                <div ng-hide="isBusy" class="">
                                    <form name="editTimeSlotForm" novalidate="" ng-submit="save()" class="ng-pending ng-valid-maxlength ng-dirty" style="">
                                        <div confirm-on-exit="" form-name="editTimeSlotForm" class="ng-isolate-scope"></div>
                                        <div class="row">
                                            <div class="col-md-4 form-group">
                                                <h4>
                                                    Description
                                                    <a tooltip-placement="right" uib-tooltip="Give your session time a name.  If you have concurrent sessions try “Mid Morning Sessions” or “Morning Workshops”.   You can go back to the Session screen to assign your sessions to the session time that you create here." tooltip-class="0" data-eb-help="" message="'Give your session time a name.  If you have concurrent sessions try “Mid Morning Sessions” or “Morning Workshops”.   You can go back to the Session screen to assign your sessions to the session time that you create here.'" class="ng-isolate-scope"><i class="fa fa-question-circle"></i></a>
                                                </h4>
                                                <input type="text" name="description" ng-model="item.description" class="field-required form-control ng-pristine ng-untouched ng-isolate-scope ng-pending ng-valid-maxlength" validator="required" required-error-message="Session Time Description is required" validation-method="submit-only" maxlength="100"><span></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 form-group">
                                                <h4>Start Time</h4>
                                                <input type ="datetime-local"k endo-datetimepicker="" name="startTime" class="field-required form-control k-input" k-ng-model="item.startTime" k-min="$root.config.conference.timeSlotStart" k-max="$root.config.conference.timeSlotEnd" k-format="'yyyy-MM-dd hh:mm tt'" k-parse-formats="['yyyy-MM-ddTHH:mm:ss']" data-role="datetimepicker" type="text" role="combobox" aria-expanded="false" aria-disabled="false" aria-readonly="false" style="width: 100%;">                         <p ng-show="startTimeMissing" class="validation-invalid ng-hide">Start time is required</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 form-group">
                                                <h4>End Time</h4>
                                               <input kendo-datetimepicker="" name="endTime" class="field-required form-control k-input" k-ng-model="item.endTime" k-min="$root.config.conference.timeSlotStart" k-max="$root.config.conference.timeSlotEnd" k-format="'yyyy-MM-dd hh:mm tt'" k-parse-formats="['yyyy-MM-ddTHH:mm:ss']" data-role="datetimepicker" type="text" role="combobox" aria-expanded="false" aria-disabled="false" aria-readonly="false" style="width: 100%;"><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-i-calendar" role="button"></span><span unselectable="on" class="k-icon k-i-clock" role="button"></span></span>
                                                <p ng-show="endTimeMissing" class="validation-invalid ng-hide">End time is required</p>
                                            </div>
                                        </div>
                                        <div class="row conference-action-row">
                                            <button type="submit" class="btn btn-success ng-binding ladda-button" ladda="dataSaving" validation-submit="editTimeSlotForm" ng-click="save()" data-style="expand-left"><span class="ladda-label">
                                                <i class="fa fa-check"></i> Add
                                            </span><span class="ladda-spinner"></span></button>
                                            <a id="cancel-button" class="btn" ng-href="/conference/6514/timeslots" href="/conference/6514/timeslots">Cancel</a>
                                            <a id="delete-button" class="btn btn-danger ladda-button ng-hide" ng-click="delete()" ng-show="false" ladda="dataDeleting" data-style="expand-left"><span class="ladda-label">Delete</span><span class="ladda-spinner"></span></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </body>
        </html>